#logo{
    width: 160px;
}

header li{
    font-size: 50px;
}
.navbar{
     margin: 20px;
     width: 99%;
}

.nav-two{
    font-weight: 100;
}

.myNav{
    visibility: visible;
    width: 97%;
    margin: 1% auto;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    color: whitesmoke;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: rgba(255,255,255,.1);
}
/* @media (min-width:460px) and (max-width:600){} */